.outerDiv {
    height: 773px;
    width: 776px;
    background-color: orange;
    margin: auto;
    border: 3px solid green;
    display: flex;
    justify-content: center;
}

.innerDiv {
    height: 273px;
    width: 276px;
    background-color: black;
    text-align: center;
    border: 3px solid green;
    margin: auto;
    border-radius: 10px;
    padding: 5%;

}